@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 400px) {
  .background-gradient::before {
    background: radial-gradient(
      50% 50%,
      rgb(243, 194, 89, 0.5) 0%,
      rgba(37, 38, 44, 0) 100%
    );
    z-index: -10;
    content: "";
    position: absolute;
    inset: 0px;
    transform: scale(1);
    pointer-events: none;
  }
}

@font-face {
  font-family: "Arimo";
  src: url("./fonts/Arimo-Regular.ttf");
}

@font-face {
  font-family: "Dallas";
  src: url("./fonts/Dallas-Regular.ttf");
}

@font-face {
  font-family: "Articulat";
  src: url("./fonts/ArticulatCF-Normal.ttf");
}

label.btn.btn--file.btn--primary.btn--upload {
  border-radius: 20px;
  font-weight: 600;
}
